/* global */
* {
    box-sizing: border-box;
}

:root {
    --nice-black: #262626;
    --plain-pale: #E2E8CE;
    --army-green: #ACBFA4;
    --birght-orange: #FF7F11;
    --other-black: #000000;
    scroll-behavior: smooth;
}

/* lay out */
body {
    background-color: var(--nice-black);
    color: var(--army-green);
    overflow-x: hidden;
}

h1 {
    color: var(--birght-orange);
}




/* compnents */
.card {
    background-color: var(--plain-pale);


}

.music-player {
    display: flex;
    background-color: var(--other-black);
    justify-content: space-around;
    border-radius: 16px;

}

.btn {
    background-color: var(--plain-pale);
    border-color: var(--plain-pale);
    opacity: 0.5;
    position: absolute;
    right: 0px;
    padding: 10px;
}

.carousel-item img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.nav {
    z-index: 9000;
    background-color: var(--nice-black);
}

/*unknowns*/

.track-data {
    display: flex;
    align-items: center;

}


a .active {
    background-color: var(--birght-orange);
}